{
    "plugins": [
        ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
